.button-azw {
    padding: 10px 8px;
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
}