.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    height: 100%;

}

.first {
    background-color: var(--color-yellow);
    &-des {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__title {
            padding-top: 20px;
            padding-bottom: 20px;
            font-family: 'Montserrat-Bold';
            font-size: 64px;
            text-align: center;
        }
        &__text {
            padding-bottom: 30px;
            font-size: 22px;
            text-align: center;
        }
    }

    &-pictures {
        display: flex;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;

        &__img {
            max-width: 50%;
            padding-top: 40px;
            padding-bottom: 40px;
            &_right {
                border-top-right-radius: 18%;
                border-bottom-right-radius: 18%;
            }
            &_left {
                border-top-left-radius: 18%;
                border-bottom-left-radius: 18%;
            }
        }

        &_left {
            justify-content: end
        }

    }

    &-arrows {
        display: flex;
        justify-content: space-between;
        &__image {
            height: 120px;
            width: 120px;
        }
    }

}